<e:workbook exportKey="AuditReport"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:e="http://jboss.com/products/seam/excel"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core">
	<e:worksheet name="Audit Report" value="#{auditRptService.auditRptList}"
		var="auditRptData" startColumn="0" startRow="0">
		
		<!-- Data -->
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Action Date" style="xls-font: blue bold" />
			</f:facet>	
			<e:cell value="#{auditRptData.actionDate}" style="xls-column-autosize: true; xls-format-mask: DD-MMM-YYYY H:mm:ss" forceType="date" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Item Code" style="xls-font: blue bold; xls-column-autosize: true" />
			</f:facet>
			<e:cell value="#{auditRptData.itemCode}" forceType="text"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Item Description" style="xls-font: blue bold; xls-column-autosize: true" />
			</f:facet>
			<e:cell value="#{auditRptData.itemDesc}" forceType="text"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Action" style="xls-font: blue bold; xls-column-autosize: true" />
			</f:facet>
			<e:cell value="#{auditRptData.action}" forceType="text"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Action By" style="xls-font: blue bold; xls-column-autosize: true" />
			</f:facet>
			<e:cell value="#{auditRptData.actionBy}" forceType="text"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Remark" style="xls-font: blue bold; xls-column-autosize: true" />
			</f:facet>
			<e:cell value="#{auditRptData.remarks}" forceType="text"/>
		</e:column>
	</e:worksheet>
</e:workbook>