<e:workbook exportKey="DiscrepancyActionTakenReport"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:e="http://jboss.com/products/seam/excel"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core">
	<e:worksheet name="Discrepancy Action Taken Report" value="#{discrepancyActionTakenRptService.discrepancyActionTakenRptList}"
		var="discrepancyActionTakenRptData" startColumn="0" startRow="1">
		
		<e:cell row="0" column="7" value="Discrepancy" style="xls-font: blue bold;xls-alignment: centre;xls-background-color: yellow"/>
		<e:cell row="0" column="#{discrepancyActionTakenRptService.discrepancyList.size+8}" value="Action Taken" style="xls-font: blue bold;xls-alignment: centre;xls-background-color: light_orange"/>
		<e:mergeCells startRow="0" endRow="0" startColumn="7" endColumn="#{discrepancyActionTakenRptService.discrepancyList.size+7}" />
		<e:mergeCells startRow="0" endRow="0" startColumn="#{discrepancyActionTakenRptService.discrepancyList.size+8}" endColumn="#{discrepancyActionTakenRptService.discrepancyList.size+discrepancyActionTakenRptService.actionTakenList.size+8}" />
		
		<!-- Data -->
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Preparation Date" style="xls-font: blue bold" />
			</f:facet>	
			<e:cell value="#{discrepancyActionTakenRptData.preparationDate}" style="xls-column-autosize: true; xls-format-mask: DD-MMM-YYYY" forceType="date" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Pre-pack Date" style="xls-font: blue bold" />
			</f:facet>	
			<e:cell value="#{discrepancyActionTakenRptData.prepackDate}" style="xls-column-autosize: true; xls-format-mask: DD-MMM-YYYY" forceType="date" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Assigned Lot No." style="xls-font: blue bold; xls-column-autosize: true" />
			</f:facet>
			<e:cell value="#{discrepancyActionTakenRptData.assignedLotNum}" forceType="text"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Item Code" style="xls-font: blue bold; xls-column-autosize: true" />
			</f:facet>
			<e:cell value="#{discrepancyActionTakenRptData.itemCode}" forceType="text"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Item Description" style="xls-font: blue bold; xls-column-autosize: true" />
			</f:facet>
			<e:cell value="#{discrepancyActionTakenRptData.itemDesc}" forceType="text"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Manufacturer" style="xls-font: blue bold; xls-column-autosize: true" />
			</f:facet>
			<e:cell value="#{discrepancyActionTakenRptData.manufName}" forceType="text"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Batch No." style="xls-font: blue bold; xls-column-autosize: true" />
			</f:facet>
			<e:cell value="#{discrepancyActionTakenRptData.batchNum}" forceType="text"/>
		</e:column>
		<c:forEach begin="0" end="#{discrepancyActionTakenRptService.discrepancyList.size-1}" varStatus="status">
			<e:column style="xls-column-autosize: false;xls-column-width: 12000" >
				<f:facet name="header">
					<e:cell value="#{discrepancyActionTakenRptService.discrepancyList[status.index]}" style="xls-font: blue bold;xls-wrap: true" />
				</f:facet>	
				<e:cell value="#{discrepancyActionTakenRptData.discrepancyDataList[status.index]}" forceType="text" />
			</e:column>
		</c:forEach>
		<e:column style="xls-column-autosize: false;xls-column-width: 12000">
			<f:facet name="header">
				<e:cell value="Discrepancy Remark" style="xls-font: blue bold; xls-column-autosize: true" />
			</f:facet>
			<e:cell value="#{discrepancyActionTakenRptData.discrepancyRemark}" style="xls-wrap: true" forceType="text"/>
		</e:column>
		<c:forEach begin="0" end="#{discrepancyActionTakenRptService.actionTakenList.size-1}" varStatus="status">
			<e:column style="xls-column-autosize: false;xls-column-width: 12000" >
				<f:facet name="header">
					<e:cell value="#{discrepancyActionTakenRptService.actionTakenList[status.index]}" style="xls-font: blue bold;xls-wrap: true" />
				</f:facet>	
				<e:cell value="#{discrepancyActionTakenRptData.actionTakenDataList[status.index]}" style="xls-column-autosize: true" forceType="text" />
			</e:column>
		</c:forEach>
		<e:column style="xls-column-autosize: false;xls-column-width: 12000">
			<f:facet name="header">
				<e:cell value="Action Taken Remark" style="xls-font: blue bold; xls-column-autosize: true" />
			</f:facet>
			<e:cell value="#{discrepancyActionTakenRptData.actionTakenRemark}" style="xls-wrap: true" forceType="text"/>
		</e:column>
	</e:worksheet>
</e:workbook>