<e:workbook exportKey="DrugPrepackDailyReport"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:e="http://jboss.com/products/seam/excel"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core">
	<e:worksheet name="DPP Daily Log Report" value="#{drugPrepackDailyRptService.drugPrepackDailyRptList}"
		var="drugPrepackDailyRptData" startColumn="0" startRow="0">
		
		<!-- Data -->
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Preparation Date" style="xls-font: blue bold" />
			</f:facet>	
			<e:cell value="#{drugPrepackDailyRptData.preparationDate}" style="xls-column-autosize: true; xls-format-mask: DD-MMM-YYYY" forceType="date" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Pre-pack Date" style="xls-font: blue bold" />
			</f:facet>	
			<e:cell value="#{drugPrepackDailyRptData.prepackDate}" style="xls-column-autosize: true; xls-format-mask: DD-MMM-YYYY" forceType="date" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Assigned Lot No." style="xls-font: blue bold; xls-column-autosize: true" />
			</f:facet>
			<e:cell value="#{drugPrepackDailyRptData.assignedLotNum}" forceType="text"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Pre-pack Status" style="xls-font: blue bold; xls-column-autosize: true" />
			</f:facet>
			<e:cell value="#{drugPrepackDailyRptData.prepackStatus}" forceType="text"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Item Code" style="xls-font: blue bold; xls-column-autosize: true" />
			</f:facet>
			<e:cell value="#{drugPrepackDailyRptData.itemCode}" forceType="text"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Item Description" style="xls-font: blue bold; xls-column-autosize: true" />
			</f:facet>
			<e:cell value="#{drugPrepackDailyRptData.itemDesc}" forceType="text"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Original Pack Qty" style="xls-font: blue bold; xls-column-autosize: true" />
			</f:facet>
			<e:cell value="#{drugPrepackDailyRptData.originalPackQty}" forceType="text"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Original Pack Size" style="xls-font: blue bold; xls-column-autosize: true" />
			</f:facet>
			<e:cell value="#{drugPrepackDailyRptData.originalPackSize}" forceType="text"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Original Pack Unit" style="xls-font: blue bold; xls-column-autosize: true" />
			</f:facet>
			<e:cell value="#{drugPrepackDailyRptData.originalPackUnit}" forceType="text"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Original Total Qty" style="xls-font: blue bold; xls-column-autosize: true" />
			</f:facet>
			<e:cell value="#{drugPrepackDailyRptData.originalTotalQty}" forceType="text"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Pre-pack Pack Size" style="xls-font: blue bold; xls-column-autosize: true" />
			</f:facet>
			<e:cell value="#{drugPrepackDailyRptData.prepackPackSize}" forceType="text"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Pre-pack Pack Unit" style="xls-font: blue bold; xls-column-autosize: true" />
			</f:facet>
			<e:cell value="#{drugPrepackDailyRptData.prepackPackUnit}" forceType="text"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Actual Pre-pack Qty" style="xls-font: blue bold; xls-column-autosize: true" />
			</f:facet>
			<e:cell value="#{drugPrepackDailyRptData.actualPrepackQty}" forceType="text"/>
		</e:column>
	</e:worksheet>
</e:workbook>