<e:workbook exportKey="DrugItemInfoReport"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:e="http://jboss.com/products/seam/excel"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core">
	<e:worksheet name="Drug Item Information Report" value="#{drugItemInfoRptService.drugItemInfoDataList}"
		var="drugItemInfoData" startColumn="0" startRow="0">
		
		<!-- Data -->
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Item Code" style="xls-font: blue bold; xls-column-autosize: true" />
			</f:facet>
			<e:cell value="#{drugItemInfoData.itemCode}" forceType="text"/>
		</e:column>
		
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Item Description" style="xls-font: blue bold; xls-column-autosize: true" />
			</f:facet>
			<e:cell value="#{drugItemInfoData.itemDesc}" forceType="text"/>
		</e:column>		
		
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Item Long Description" style="xls-font: blue bold; xls-column-autosize: true" />
			</f:facet>
			<e:cell value="#{drugItemInfoData.itemLongDesc}" forceType="text"/>
		</e:column>	
		
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Item Short Description" style="xls-font: blue bold; xls-column-autosize: true" />
			</f:facet>
			<e:cell value="#{drugItemInfoData.itemShortDesc}" forceType="text"/>
		</e:column>
		
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Remark" style="xls-font: blue bold; xls-column-autosize: true" />
			</f:facet>
			<e:cell value="#{drugItemInfoData.remark}" forceType="text"/>
		</e:column>
		
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Alias" style="xls-font: blue bold; xls-column-autosize: true" />
			</f:facet>
			<e:cell value="#{drugItemInfoData.alias}" forceType="text"/>
		</e:column>
		
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="HQ Suspend" style="xls-font: blue bold; xls-column-autosize: true" />
			</f:facet>
			<e:cell value="#{drugItemInfoData.hqSuspend}" forceType="text"/>
		</e:column>
		
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Institution Suspend" style="xls-font: blue bold; xls-column-autosize: true" />
			</f:facet>
			<e:cell value="#{drugItemInfoData.instSuspend}" forceType="text"/>
		</e:column>
		
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Allow Pre-pack" style="xls-font: blue bold; xls-column-autosize: true" />
			</f:facet>
			<e:cell value="#{drugItemInfoData.allowPrepack}" forceType="text"/>
		</e:column>
		
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Display Alias on Full Size Label" style="xls-font: blue bold; xls-column-autosize: true" />
			</f:facet>
			<e:cell value="#{drugItemInfoData.displayAliasOnFullSizeLabel}" forceType="text"/>
		</e:column>
		
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Display Alias on Side Label" style="xls-font: blue bold; xls-column-autosize: true" />
			</f:facet>
			<e:cell value="#{drugItemInfoData.displayAliasOnSideLabel}" forceType="text"/>
		</e:column>
		
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Display Short Desc. on Side Label" style="xls-font: blue bold; xls-column-autosize: true" />
			</f:facet>
			<e:cell value="#{drugItemInfoData.displayShortDescOnSideLabel}" forceType="text"/>
		</e:column>
		
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Pack Size" style="xls-font: blue bold; xls-column-autosize: true" />
			</f:facet>
			<e:cell value="#{drugItemInfoData.packSize}" forceType="number"/>
		</e:column>
		
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Pack Unit" style="xls-font: blue bold; xls-column-autosize: true" />
			</f:facet>
			<e:cell value="#{drugItemInfoData.packUnit}" forceType="text"/>
		</e:column>		
	</e:worksheet>
</e:workbook>