<e:workbook exportKey="EnquiryReport"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:e="http://jboss.com/products/seam/excel"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core">
	<e:worksheet name="Enquiry Report" value="#{enquiryRptService.enquiryRptList}"
		var="enquiryRptData" startColumn="0" startRow="0">
		
		<!-- Data -->
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Item Code" style="xls-font: blue bold; xls-column-autosize: true" />
			</f:facet>
			<e:cell value="#{enquiryRptData.itemCode}" forceType="text"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Assigned Lot No." style="xls-font: blue bold; xls-column-autosize: true" />
			</f:facet>
			<e:cell value="#{enquiryRptData.assignedLotNum}" forceType="text"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Preparation Date" style="xls-font: blue bold" />
			</f:facet>	
			<e:cell value="#{enquiryRptData.preparationDate}" style="xls-column-autosize: true; xls-format-mask: DD-MMM-YYYY" forceType="date" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Pre-pack Status" style="xls-font: blue bold; xls-column-autosize: true" />
			</f:facet>
			<e:cell value="#{enquiryRptData.prepackStatus}" forceType="text"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Manufacturer" style="xls-font: blue bold; xls-column-autosize: true" />
			</f:facet>
			<e:cell value="#{enquiryRptData.manufName}" forceType="text"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Batch No." style="xls-font: blue bold; xls-column-autosize: true" />
			</f:facet>
			<e:cell value="#{enquiryRptData.batchNum}" forceType="text"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Original Use Before" style="xls-font: blue bold; xls-column-autosize: true" />
			</f:facet>
			<e:cell value="#{enquiryRptData.originalExpiryDate}" style="xls-column-autosize: true; xls-format-mask: DD-MMM-YYYY" forceType="date" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Original Pack Qty" style="xls-font: blue bold; xls-column-autosize: true" />
			</f:facet>
			<e:cell value="#{enquiryRptData.originalPackQty}" forceType="text"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Original Pack Size" style="xls-font: blue bold; xls-column-autosize: true" />
			</f:facet>
			<e:cell value="#{enquiryRptData.originalPackSize}" forceType="text"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Original Pack Unit" style="xls-font: blue bold; xls-column-autosize: true" />
			</f:facet>
			<e:cell value="#{enquiryRptData.dispenseDosageUnit}" forceType="text"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Original Total Qty" style="xls-font: blue bold; xls-column-autosize: true" />
			</f:facet>
			<e:cell value="#{enquiryRptData.originalTotalQty}" forceType="text"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Equipment" style="xls-font: blue bold; xls-column-autosize: true" />
			</f:facet>
			<e:cell value="#{enquiryRptData.equipmentName}" forceType="text"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Container" style="xls-font: blue bold; xls-column-autosize: true" />
			</f:facet>
			<e:cell value="#{enquiryRptData.containerName}" forceType="text"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Assigned Use Before" style="xls-font: blue bold; xls-column-autosize: true" />
			</f:facet>
			<e:cell value="#{enquiryRptData.assignedExpriyDate}" style="xls-column-autosize: true; xls-format-mask: DD-MMM-YYYY" forceType="date" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Pre-pack Pack Size" style="xls-font: blue bold; xls-column-autosize: true" />
			</f:facet>
			<e:cell value="#{enquiryRptData.prepackPackSize}" forceType="text"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Pre-pack Pack Unit" style="xls-font: blue bold; xls-column-autosize: true" />
			</f:facet>
			<e:cell value="#{enquiryRptData.prepackPackUnit}" forceType="text"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Sampling Qty" style="xls-font: blue bold; xls-column-autosize: true" />
			</f:facet>
			<e:cell value="#{enquiryRptData.sampleCheckQty}" forceType="text"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Provisional Pre-pack Qty" style="xls-font: blue bold; xls-column-autosize: true" />
			</f:facet>
			<e:cell value="#{enquiryRptData.provisionalPrepackQty}" forceType="text"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Provisional Pre-pack Label Qty" style="xls-font: blue bold; xls-column-autosize: true" />
			</f:facet>
			<e:cell value="#{enquiryRptData.provisionalPrepackLabelQty}" forceType="text"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Provisional Remaining Qty" style="xls-font: blue bold; xls-column-autosize: true" />
			</f:facet>
			<e:cell value="#{enquiryRptData.provisionRemainQty}" forceType="text"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Actual Pre-pack Date" style="xls-font: blue bold; xls-column-autosize: true" />
			</f:facet>
			<e:cell value="#{enquiryRptData.actualPrepackDate}" style="xls-column-autosize: true; xls-format-mask: DD-MMM-YYYY" forceType="date" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Actual Pre-pack Qty" style="xls-font: blue bold; xls-column-autosize: true" />
			</f:facet>
			<e:cell value="#{enquiryRptData.actualPrepackQty}" forceType="text"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Actual Label Remaining Qty" style="xls-font: blue bold; xls-column-autosize: true" />
			</f:facet>
			<e:cell value="#{enquiryRptData.actualLabelRemainQty}" forceType="text"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Additional Label Required" style="xls-font: blue bold; xls-column-autosize: true" />
			</f:facet>
			<e:cell value="#{enquiryRptData.actualAddLabelQty}" forceType="text"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Actual Item Remaining Qty" style="xls-font: blue bold; xls-column-autosize: true" />
			</f:facet>
			<e:cell value="#{enquiryRptData.actualItemRemainQty}" forceType="text"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Prepared By" style="xls-font: blue bold; xls-column-autosize: true" />
			</f:facet>
			<e:cell value="#{enquiryRptData.prepareBy}" forceType="text"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Pre-checked By" style="xls-font: blue bold; xls-column-autosize: true" />
			</f:facet>
			<e:cell value="#{enquiryRptData.preCheckBy}" forceType="text"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Line Clearance Checked By" style="xls-font: blue bold; xls-column-autosize: true" />
			</f:facet>
			<e:cell value="#{enquiryRptData.lineClearCheckBy}" forceType="text"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Pre-packed By" style="xls-font: blue bold; xls-column-autosize: true" />
			</f:facet>
			<e:cell value="#{enquiryRptData.prepackBy}" forceType="text"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Final Checked By" style="xls-font: blue bold; xls-column-autosize: true" />
			</f:facet>
			<e:cell value="#{enquiryRptData.finalCheckBy}" forceType="text"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Cancel Reason" style="xls-font: blue bold; xls-column-autosize: true" />
			</f:facet>
			<e:cell value="#{enquiryRptData.cancelReason}" forceType="text"/>
		</e:column>
	</e:worksheet>
</e:workbook>